.h-100 {
    height: 100vh;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.subtitle {
    font: var(--subtitle);
}

.title-lg {
    font: var(--title-lg);
}

.text-md {
    font: var(--text-md);
}

.text-sm {
    font: var(--text-sm);
}
