.h-100 {
    height: 100vh;
}

.flex {
    display: flex;
}

.subtitle {
    font: var(--subtitle);
    color: var(--gray-500);
}

.title-lg {
    font: var(--title-lg);
    color: var(--gray-600);
}

.text-md {
    font: var(--text-md);
}

.text-sm {
    font: var(--text-sm);
    color: var(--gray-400);
}
