.desktop-only {
  display: flex;
  justify-content: center;

  margin-top: 1.563rem;
  gap: 0.438rem;

  & h1 {
    font: var(--title);
  }
}

@media (max-width: 390px) {
  .desktop-only {
    display: none;
  }
}
