* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  /* colors */
  --content-primary: #fff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --content-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: var(--content-brand);
  --background-gray: #3d3d3d;

  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0a0;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  --gradient-border: #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%,
    #91a1fa 84.58%;
  --gradient-background: #d586e0 0%, #91a1fa 98.93%;
  --gradient-content: #c7c9cc 0%, #3d3d3d 100%;

  /* Fonts */
  --ff-sora: "Sora", sans-serif;
  --ff-roboto-mono: "Roboto Mono", monospace;
  --ff-roboto-flex: "Roboto Flex", sans-serif;

  --d-large: 800 4.5rem/1.3 var(--ff-sora); /* Utilizar text-transform uppercase; */
  --d-medium: 800 2.5rem/1.3 var(--ff-sora); /* Utilizar text-transform uppercase; */
  --d-small: bold 2rem/1.3 var(--ff-sora); /* Utilizar text-transform uppercase; */

  --overline: bold 1rem/1.5 var(--ff-roboto-mono); /* Utilizar text-transform uppercase; */

  --paragraph-large: 500 1rem/1.5 var(--ff-roboto-flex);
  --paragraph-medium: 500 0.875rem/1.5 var(--ff-roboto-flex);
  --paragraph-small: 500 0.75rem/1.5 var(--ff-roboto-flex);
  --label-medium: bold 1.25rem/1.5 var(--ff-roboto-flex);
  --label-small: bold 1rem/1.5 var(--ff-roboto-flex);
}

body {
  background-color: var(--background-primary);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--content-primary);
}

@media (width < 769px) {
  body {
    margin: 2.75rem 2.188rem;
  }

  label {
    font: var(--label-small);
    color: var(--content-secondary);
    text-transform: uppercase;
  }

  input {
    width: 100%;
    background-color: var(--background-tertiary);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;

    font: var(--d-small);
    color: var(--content-primary);

    &::placeholder {
      color: var(--content-primary);
    }
  }
}

/* Toggle Switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
  transform: translateX(45px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
  background-color: #05c46b;
  box-shadow: inset 0 0 0 2px #04b360;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
  content: "On";
  color: #05c46b;
  right: -15px;
}

.toggle-switch
  input[type="checkbox"]:checked
  + .toggle-switch-background
  .toggle-switch-handle {
  transform: translateX(40px);
}
