#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    
    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;

    & .main-container {
        max-width: 33rem;
        margin-left: auto;
    }
}

main, aside {
    padding: 4rem;
}

aside {
    background-color: var(--surface-secondary);

    & .aside-container {
        max-width: 31rem;
    }
}