main header {
  display: flex;
  flex-direction: column;

  margin-top: 4.875rem;
  gap: 1rem;

  & div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & p {
      font: var(--paragraph);
      color: var(--color-brand);
    }
    & img {
      width: 1rem;
    }
  }

  & h1 {
    font: var(--title);
    color: var(--content-primary);
  }
}
